/*************************************************************************
 * GitHub: https://github.com/yenchiah/project-website-template
 * Version: v3.36
 * This CSS file has control elements that do not require JavaScript
 * If you want to keep this template updated, avoid modifying this file
 * Instead, add your own CSS in the custom.css file
 *************************************************************************/

.custom-image-button {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  color: white;
  border: 1px solid #7d7d7d;
  background-color: #7d7d7d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button:not(:disabled):hover {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.custom-button:not(:disabled):active {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.custom-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.custom-button-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-button-primary:not(:disabled):hover {
  background-color: #005cbf;
  border-color: #005cbf;
}

.custom-button-primary:not(:disabled):active {
  background-color: #005cbf;
  border-color: #005cbf;
}

.custom-button-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.custom-button-danger:not(:disabled):hover {
  background-color: #a71120;
  border-color: #a71120;
}

.custom-button-danger:not(:disabled):active {
  background-color: #a71120;
  border-color: #a71120;
}

.custom-button-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.custom-button-info:not(:disabled):hover {
  background-color: #007082;
  border-color: #007082;
}

.custom-button-info:not(:disabled):active {
  background-color: #007082;
  border-color: #007082;
}

.custom-button-flat {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  border-radius: 48px;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.1s, box-shadow 0.1s, border 0.1s;
  text-decoration: none;
  color: black;
  border: 1px solid #777777;
  background-color: white;
  padding: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button-flat.large {
  font-size: 18px;
  line-height: 18px;
  padding: 17px;
  border-radius: 56px;
}

.custom-button-flat.small {
  font-size: 14px;
  line-height: 14px;
  padding: 12px;
  border-radius: 42px;
}

.custom-button-flat:disabled {
  opacity: 0.4;
  cursor: default;
}

.custom-button-flat img {
  width: 20px;
  height: 20px;
}

.custom-button-flat.small img {
  width: 16px;
  height: 16px;
}

.custom-button-flat.large img {
  width: 24px;
  height: 24px;
}

.custom-button-flat span {
  margin-left: 6px;
}

input.custom-textbox,
textarea.custom-textbox {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 5px 10px;
  background: rgb(255, 255, 255);
  border: 1px solid #7d7d7d;
  font-size: 16px;
  outline: none;
  border-radius: 2px;
  resize: vertical;
}

input.custom-textbox {
  min-height: 37px;
  max-height: 37px;
}

textarea.custom-textbox {
  min-height: 60px;
  max-height: 200px;
}

input[readonly].custom-textbox,
textarea[readonly].custom-textbox {
  cursor: default;
  background: rgb(230, 230, 230);
}

.control-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.control-group .custom-image-button {
  margin: 10px 0 10px 0;
}

.control-group .custom-image-button:not(:last-child) {
  margin-right: 15px;
}

.control-group .custom-button {
  margin: 10px 0 10px 0;
}

.control-group .custom-button:not(:last-child) {
  margin-right: 15px;
}

.control-group .custom-button-flat {
  margin: 10px 0 10px 0;
}

.control-group .custom-button-flat:not(:last-child) {
  margin-right: 15px;
}

.control-group .custom-textbox {
  margin: 10px 0 10px 0;
}

.control-group .custom-textbox:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 500px) {
  .stretch-on-mobile {
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.pulse-white {
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
  animation: pulse-white 2s infinite;
}

@-webkit-keyframes pulse-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-white {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.pulse-black {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  animation: pulse-black 2s infinite;
}

@-webkit-keyframes pulse-black {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-black {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.pulse-primary {
  box-shadow: 0 0 0 rgba(0, 123, 255, 0.5);
  animation: pulse-primary 2s infinite;
}

@-webkit-keyframes pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(0, 123, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

@keyframes pulse-primary {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(0, 123, 255, 0);
    box-shadow: 0 0 0 15px rgba(0, 123, 255, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pulse-danger {
  box-shadow: 0 0 0 rgba(220, 53, 69, 0.5);
  animation: pulse-danger 2s infinite;
}

@-webkit-keyframes pulse-danger {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(220, 53, 69, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

@keyframes pulse-danger {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.5);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(220, 53, 69, 0);
    box-shadow: 0 0 0 15px rgba(220, 53, 69, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}

.pulse-info {
  box-shadow: 0 0 0 rgba(23, 162, 184, 0.5);
  animation: pulse-info 2s infinite;
}

@-webkit-keyframes pulse-info {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 15px rgba(23, 162, 184, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0);
  }
}

@keyframes pulse-info {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
  }

  70% {
    -moz-box-shadow: 0 0 0 15px rgba(23, 162, 184, 0);
    box-shadow: 0 0 0 15px rgba(23, 162, 184, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(23, 162, 184, 0);
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0);
  }
}
.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color:#FFA500 ;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #FFA500 ;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #FFA500 ;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #FFA500 ;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color:#FFA500 ;
}